<div class="container">
  <div class="container">
    <div class="row text-left justify-content-between">
      <div class="col"><h2>Journal</h2></div>
      <div class="col text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-add-journal-entry">Add Entry</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label>
          Status
          <select class="form-control w-auto" (change)="statusFilter = $event.target.value">
            <option value="{{null}}">Any</option>
            <option value="{{transactionStatusType.Approved}}">Approved</option>
            <option value="{{transactionStatusType.Pending}}">Pending</option>
            <option value="{{transactionStatusType.Rejected}}">Rejected</option>
          </select>
        </label>
        <label>
          From Date
          <input type="date" class="form-control" (change)="setDateFilter($event.target.value, true)"/>
        </label>
        <label>
          To Date
          <input type="date" class="form-control" (change)="setDateFilter($event.target.value, false)"/>
        </label>
        <label>
          Search
          <input type="text" class="form-control" [(ngModel)]="searchFilter" (keyup)="onSearchKeyUp()"/>
        </label>
      </div>
    </div>
    <table class="table table-borderless entry-table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Created By</th>
        <th>Entries</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let transaction of viewTransactions">
        <tr>
          <td>{{transaction.createDate | date: 'M/d/yyyy'}}</td>
          <td>{{transactionType[transaction.type]}}</td>
          <td>{{transaction.createdBy.fullName}}</td>
          <td><app-journal-entries-list [entries]="transaction.entries"></app-journal-entries-list></td>
          <td class="text-center align-middle">
            <span class="d-block" *ngIf="!canUserPost() || transaction.status != transactionStatusType.Pending"
            [ngClass]="{'text-info': transaction.status == transactionStatusType.Pending, 'text-success': transaction.status == transactionStatusType.Approved, 'text-danger': transaction.status == transactionStatusType.Rejected}">{{transactionStatusType[transaction.status]}}</span>
            <div *ngIf="canUserPost() && transaction.status == transactionStatusType.Pending">
              <button class="btn btn-success w-100 mb-3" data-toggle="modal" data-target="#modal-resolve-journal-entry" [attr.data-approve]="true" [attr.data-transaction]="transaction.id">Approve</button>
              <button class="btn btn-danger w-100" data-toggle="modal" data-target="#modal-resolve-journal-entry" [attr.data-approve]="false" [attr.data-transaction]="transaction.id">Reject</button>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <table class="table table-borderless table-information">
              <tr>
                <td>Description</td>
                <td colspan="5">
                  <span [innerHTML]="transaction.description"></span>
                </td>
              </tr>
              <tr class="border-bottom">
                <td>Documents</td>
                <td colspan="5">
                  <span *ngIf="transaction.attachments.length == 0">No documents</span>
                  <a *ngFor="let attachment of transaction.attachments" href="{{attachment.path}}" download="{{attachment.name}}" class="d-block">{{attachment.name}}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="modal-resolve-journal-entry">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h5 modal-title">{{resolveApprove ? 'Approve' : 'Reject'}} entry</span>
      </div>
      <div class="modal-body">
        <label class="w-100">
          Comments
          <textarea class="form-control" rows="4" [(ngModel)]="resolveComments" (input)="approveCommentsChanged($event.target.value)"></textarea>
        </label>
        <span class="help-block text-danger" *ngIf="!resolveValid">You must enter a reason for rejection.</span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#modal-resolve-journal-entry">Cancel</button>
        <button class="btn btn-primary" type="button" [ngStyle]="{'cursor': resolveValid ? 'pointer' : 'not-allowed'}" data-toggle="modal" data-target="#modal-resolve-journal-entry" (click)="onEntryResolve()" [disabled]="!resolveValid">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-add-journal-entry" #addModal>
  <div class="modal-dialog modal-dialog-centered modal-50">
    <div class="modal-content">
      <div class="modal-header">
        <span class="h5 modal-title">Add journal entry</span>
      </div>
      <div class="modal-body">
        <app-journal-add-form #addForm></app-journal-add-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="addForm.reset()">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="addForm.reset()">Reset</button>
        <button type="button" class="btn btn-primary" (click)="submitNewEntry()" [disabled]="!addForm.valid || submitInProgress">Save</button>
      </div>
    </div>
  </div>
</div>
