.entry-table > tbody > tr > td:nth-child(3){
  width: 15%;
}
.entry-table > tbody > tr > td:nth-child(4){
  width: 70%;
}
.table-information > tbody > tr > td:first-child{
  font-weight: bold;
  width: 15%;
}
thead{
  border-bottom: 2px solid black;
}
label{
  width: auto;
  margin-right: 1rem;
  vertical-align: middle;
}
