<table class="mx-auto">
  <ng-container *ngFor="let transaction of transactions">
    <tr *ngIf="transaction.status == transactionStatusType.Pending">
      <td>
        <div class="alert alert-warning" role="alert">
          <a class="alert-link" [routerLink]='["/app/journal", transaction.entries[0].id]'><strong>Transaction Alert!</strong> A new transaction is ready for your approval.</a>
        </div>
      </td>
    </tr>
  </ng-container>
</table>

<table class="mx-auto">
  <tr>
    <td><ratio-component [ratio]="currentRatio"></ratio-component></td>
    <td><ratio-component [ratio]="quickRatio"></ratio-component></td>
    <td><ratio-component [ratio]="debtRatio"></ratio-component></td>
  </tr>
  <tr>
    <td><ratio-component [ratio]="returnOnEquityRatio"></ratio-component></td>
    <td><ratio-component [ratio]="returnOnAssetsRatio"></ratio-component></td>
    <td><ratio-component [ratio]="assetTurnoverRatio"></ratio-component></td>
  </tr>
</table>


