/* You can add global styles to this file, and also import other style files */
fieldset{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.35rem;
}
fieldset legend{
  width: auto;
  margin: 0 1rem;
  padding: 0 0.35rem;
  font-size: 1.25rem;
}
label{
  width: 100%;
}
.modal-body{
  max-height: 75vh;
  overflow-y: scroll;
}
.modal-95{
  max-width: 95vw !important;
  height: 100%;
  margin: 0 auto;
}
.modal-95 .modal-content{
  min-height: 95vh;
}
.modal-75{
  max-width: 75vw !important;
  height: 100%;
  margin: 0 auto;
}
.modal-75 .modal-content{
  min-height: 75vh;
}
.modal-50{
  max-width: 50vw !important;
  height: 100%;
  margin: 0 auto;
}
.modal-50 .modal-content{
  min-height: 50vh;
}
button:disabled{
  cursor: not-allowed;
}
@media print{
  .hide-print{
    display: none;
  }
}
