.form-control {
  min-height: 41px;
  background: #f2f2f2;
  box-shadow: none !important;
  border: transparent;

}
.form-control:focus {
  background: #e2e2e2;
}
.form-control, .btn {
  border-radius: 2px;
}
.login-form {
  width: 350px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.login-form h2 {
  margin: 10px 0 25px;
}
.login-form form {
  color: #7a7a7a;
}
.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  outline: none !important;
}
.login-form .btn:hover, .login-form .btn:focus {
  background: #2389cd;
}
