<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary mb-3'>
    <div class="container">
      <a [routerLink]="['/app']">
        <img class="logo mr-2" src="/assets/images/logo.png" alt="Logo"/>
      </a>
      <a class="navbar-brand" [routerLink]='["/"]'>Transparent Accounting</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav">
          <li class="nav-item">
              <div class="bg-white rounded-circle p-1">
                <img src="/assets/images/user.png" alt="User icon"/>
              </div>
          </li>
          <li class="nav-item">
            <span class="navbar-text mr-2 ml-2">{{this.capitalizeFirstLetter(this.loginService.getCurrentUser().fullName)}}</span>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" (click)="logout()">Logout</button>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto text-white">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/accounts"]'>Accounts</a>
          </li>
          <li *ngIf="roleCanActivate([userRole.Administrator])" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/users"]'>Users</a>
          </li>
          <li *ngIf="roleCanActivate([userRole.Administrator])" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/email"]'>Email</a>
          </li>
          <li *ngIf="roleCanActivate([userRole.Administrator, userRole.Manager])" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/events"]'>Events</a>
          </li>
          <li *ngIf="roleCanActivate([ userRole.Manager, userRole.Accountant])" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/journal"]'>Journal</a>
          </li>
          <li *ngIf="roleCanActivate([ userRole.Manager, userRole.Accountant])" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/app/ledger"]'>Ledger</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Reports</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/app/report/trial-balance']">Trial Balance</a>
              <a class="dropdown-item" [routerLink]="['/app/report/income-statement']">Income Statement</a>
              <a class="dropdown-item" [routerLink]="['/app/report/balance-sheet']">Balance Sheet</a>
              <a class="dropdown-item" [routerLink]="['/app/report/retained-earnings-statement']">Retained Earnings Statement</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
