<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2 class="text-center">Register</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <form>
        <div class="form-row">
          <div class="col">
            <label>
              First name
              <input class="form-control" type="text"/>
            </label>
          </div>
          <div class="col">
            <label>
              Last name
              <input class="form-control" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label>
              Address
              <input class="form-control" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label>
              Date of Birth
              <input id="datepicker"/>
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col text-right">
            <button class="btn btn-primary">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
