<table class="table entries-table">
  <tr class="text-center">
    <th></th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>
  <tr *ngFor="let entry of getDebits()">
    <td>{{entry.account.accountId}} - {{entry.account.name}}</td>
    <td class="text-right">{{entry.amount | currency}}</td>
    <td></td>
  </tr>
  <tr *ngFor="let entry of getCredits()">
    <td class="credit-title">{{entry.account.accountId}} - {{entry.account.name}}</td>
    <td></td>
    <td class="text-right">{{entry.amount | currency}}</td>
  </tr>
</table>
