<table>
  <thead>
    <tr>
      <th colspan="10">
        <span class="h4">{{sectionTitle}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts.sort(accountsComparator)">
      <td class="link"><a [routerLink]='["/app/ledger", account.id]'>{{account.accountId}}</a></td>
      <td class="link"><a [routerLink]='["/app/ledger", account.id]'>{{account.name}}</a></td>
      <td>{{eNormalSide[account.normalSide]}}</td>
      <td class="text-right">{{account.beginningBalance | currency}}</td>
      <td class="text-right">{{account.balance | currency}}</td>
      <td class="text-right">{{account.debit | currency}}</td>
      <td class="text-right">{{account.credit | currency}}</td>
      <td>{{account.subcategory.name}}</td>
      <td>{{account.comment}}</td>
      <td>
        <button *ngIf="isUserAuthorized()" class="btn btn-info btn-sm m-1" data-toggle="tooltip" title="Allows you to edit accounts" (click)="onAccountEdit(account)">Edit</button>
        <button *ngIf="isUserAuthorized() && account.active" class="btn btn-danger btn-sm m-1" data-toggle="tooltip" title="Allows you to deactivate accounts" (click)="onAccountDeactivate(account)" >Deactivate</button>
        <button *ngIf="isUserAuthorized() && !account.active" class="btn btn-info btn-sm m-1" data-toggle="tooltip" title="Allows you to activate accounts" (click)="onAccountActivate(account)" >Activate</button>
      </td>
    </tr>
  </tbody>
</table>
