<form #newForm="ngForm">
  <div class="form-group">
    <label>
      Entry type
      <select class="form-control" [ngModel]="0" name="type">
        <option value="0">Regular</option>
        <option value="1">Adjusting</option>
      </select>
    </label>
    <label>
      Description
      <textarea class="form-control" rows="4" ngModel name="description"></textarea>
    </label>
  </div>
  <div class="form-group">
    <span class="h4">Entries</span>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Account</th>
          <th>Type</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of journalEntries; index as i; last as isLast; trackBy: trackByEntries">
          <td>
            <select class="form-control" [(ngModel)]="entry.account.id" name="entry-account-{{i}}" (change)="onUpdateEntries()">
              <option *ngFor="let account of getAvailableAccounts(entry)" [value]="account.id">{{account.name}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="entry.debit" name="entry-debit-{{i}}">
              <option [ngValue]="true">Debit</option>
              <option [ngValue]="false">Credit</option>
            </select>
          </td>
          <td><input type="number" step="0.01" min="0" class="form-control" [(ngModel)]="entry.amount" (keyup)="onUpdateEntries()" name="entry-amount-{{i}}"/></td>
          <td style="vertical-align: middle; width: 10%">
            <button class="btn btn-danger btn-sm" *ngIf="journalEntries.length > 1 && !isLast" (click)="onEntryDelete(entry)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="help-text text-danger d-block" *ngFor="let error of journalEntriesErrors">{{error}}</span>
  </div>
  <div class="form-group">

  </div>
</form>
