input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  text-align: right;
}
.btn-file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
.files-table > tbody > tr > td:first-child{
  width: 10%;
}
.files-table > tbody > tr > td:last-child{
  width: 15%;
  text-align: center;
}
