<div class="container">
  <div class="container">
    <div class="row">
      <div class="col"><h2>Events</h2></div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Event ID</th>
        <th>Triggered By</th>
        <th>Timestamp</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.id}}</td>
        <td>{{event.createdBy.fullName}}</td>
        <td>{{event.timestamp}}</td>
        <td>{{event.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
