<!-- Table template from: https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=table-with-add-and-delete-row-feature -->
<div class="container">
  <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-2"><h2>Users</h2></div>
        <div class="col-md-3 text-right">
          <button type="button" class="btn btn-primary" (click)="onOpenEditForm(null)">Add New</button>
        </div>
      </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.fullName}}</td>
        <td>{{user.username}}</td>
        <td>{{getRoleName(user.role)}}</td>
        <td>
          <button class="btn btn-info btn-sm m-1" (click)="onOpenEditForm(user)">Edit</button>
          <button class="btn btn-sm m-1" (click)="onUserDisableToggle(user.id, user.isActive)" [ngClass]="{'btn-danger': user.isActive, 'btn-success': !user.isActive}">{{user.isActive ? 'Disable' : 'Enable'}}</button>
          <button class="btn btn-danger btn-sm m-1" (click)="onUserDelete(user.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="edit-box" [ngStyle]="{'display': userToEdit != null ? 'block' : 'none'}">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
        <div class="jumbotron">
          <form (submit)="onEditSubmit()" [formGroup]="editForm">
            <span class="h3">Edit user</span>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" formControlName="username"/>
              <span class="help-block text-danger" *ngIf="editForm.get('username').touched && editForm.get('username').invalid">The username field is required.</span>
            </div>
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" formControlName="fullName"/>
              <span class="help-block text-danger" *ngIf="editForm.get('fullName').touched && editForm.get('fullName').invalid">The full name field is required.</span>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password"/>
              <span class="help-block text-danger" *ngIf="editForm.get('password').touched && editForm.get('password').invalid">
                <span *ngIf="editForm.get('password').errors['passwordComplexity']" class="help-block d-block">The password needs to start with a letter and contain a number and a special character.</span>
                <span *ngIf="editForm.get('password').errors['passwordLength']" class="help-block d-block">The password must be at least 8 characters long.</span>
              </span>
            </div>
            <div class="form-group">
              <label>Role</label>
              <select class="form-control" name="role" formControlName="role">
                <option value="0">Administrator</option>
                <option value="1">Manager</option>
                <option value="2">Accountant</option>
              </select>
            </div>
            <div class="form-group text-right">
              <button class="btn btn-primary" [disabled]="editForm.invalid">Save</button>
              <button class="btn btn-danger ml-2" type="button" (click)="onFormClose()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
