.users-table td:last-child{
  width: 25%;
  text-align: center;
}
.users-table td:first-child{
  width: 30%;
}
.users-table table td{
  vertical-align: middle;
}
.edit-box{
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
